<!DOCTYPE html>
<html>

 <head>
   <title>MyMedical Profile</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
   <link href="style.css" rel="stylesheet" <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta charset="utf-8" />
	  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	  <meta name="viewport" content="width=device-width, initial-scale=1" />

	  <link rel="stylesheet" href="../static/style.css" />
    
	  <script src="/script.js" defer></script>
  </head>

  <body>
  
    <script src="script.js"></script>
    <td id="logo">MyMedical</td>
   <nav>
     <img src="static/img/logo.png" width= 200px; style = "float: left"/>
     <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/appointments">Appointments</a></li>
        <li><a href="/reminders">Reminders</a></li>
        <li><a href="/diagnosis">Diagnosis</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
     </ul>
   </nav>
   
   <div class= "profilepage"</div>
     <h1 class = "profiletext">Profile</h1>
     <img class ="profileimg" src ="static/img/profileimg.png" width= 170px/>

     <p class ="profileinfo">Email account: {{account}}</p>
     <p class ="profileinfo">Name: {{name}}</p>
     <p class ="profileinfo">Sex: {{sex}}</p>
     <p class ="profileinfo">Birthdate: {{birthday}}</p>
     <p class ="profileinfo">Age: {{age}}</p>
   
   
   
   

  </body>
</html>